{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block content %}
	<h1>Dein Profil</h1>
	
	<table>
		<tr>
			<td>Vorname:</td>
			<td><input type="text" value="{{ name.first }}"></input></td>
		</tr>
		<tr>
			<td>Nachname:</td>
			<td><input type="text" value="{{ name.last }}"></input></td>
		</tr>
	</table>
{% endblock %}