{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block content %}
	<h1>Dein Profil</h1>
	
	<table>
		<tr>
			<td>Benutzername:</td>
			<td><input type="text" value="{{ name }}"></input></td>
		</tr>
	</table>
{% endblock %}